@import "../abstracts/variables";

.form-control {
  height: 28px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  &:focus {
    border-color: #23B7E5;
  }
}
.input-group-text, Select{ height: 28px;}
.input-group-addon {
  height: 28px;
  color: #5d6064;
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
}
.input-group {
  .input-group-addon {
    padding: .5rem .5rem;
  }
}

.input-rounded {
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.help-block {
  display: block;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 2px;
}
.input-group-icon {
  position: relative;
  color: #71808f;
  .form-control {
    padding-left: 33px;
  }
  .input-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 33px;
    line-height: 33px;
    width: 34px;
    text-align: center;
  }
}
.input-group-icon.right {
  .input-icon {
    right: 0;
    left: auto;
  }
  .form-control {
    padding-left: 12px;
    padding-right: 33px;
  }
}
.has-success {
  .form-control {
    border-color: #2ecc71;
    &:focus {
      border-color: #2ecc71;
    }
  }
  .control-label {
    color: #2ecc71;
  }
  .col-form-label {
    color: #2ecc71;
  }
  .input-icon {
    >i {
      color: #2ecc71;
    }
  }
}
.has-warning {
  .form-control {
    border-color: #F39C12;
    &:focus {
      border-color: #F39C12;
    }
  }
  .control-label {
    color: #F39C12;
  }
  .col-form-label {
    color: #F39C12;
  }
  .input-icon {
    >i {
      color: #F39C12;
    }
  }
}
.has-error {
  .form-control {
    border-color: #e74c3c;
    &:focus {
      border-color: #e74c3c;
    }
  }
  .control-label {
    color: #e74c3c;
  }
  .col-form-label {
    color: #e74c3c;
  }
  .help-block {
    color: #e74c3c;
  }
  .error {
    color: #e74c3c;
  }
  .input-icon {
    >i {
      color: #e74c3c;
    }
  }
}
.help-block.error {
  color: #e74c3c;
}
.ui-checkbox {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 28px;
  font-weight: 400;
  min-height: 20px;
  .input-span {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    left: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    &::after {
      content: '';
      position: absolute;
      display: none;
      width: 5px;
      height: 10px;
      left: 7px;
      top: 3px;
      border: solid #888;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input {
    position: absolute;
    opacity: 0;
    &:checked {
      ~ {
        .input-span {
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &:hover {
    .input-span {
      border-color: #b8b8b8;
    }
  }
}
.ui-radio {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 28px;
  font-weight: 400;
  min-height: 20px;
  .input-span {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    left: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &::after {
      content: '';
      position: absolute;
      display: none;
      width: 5px;
      height: 10px;
      left: 7px;
      top: 3px;
      border: solid #888;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      border: 0;
      height: 6px;
      left: 6px;
      top: 6px;
      width: 6px;
      background: #888;
      -webkit-border-radius: 100%;
      border-radius: 100%;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    &:checked {
      ~ {
        .input-span {
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &:hover {
    .input-span {
      border-color: #b8b8b8;
    }
  }
}
.ui-checkbox.ui-checkbox-gray {
  .input-span {
    background-color: #E6E6E6;
    border-color: transparent;
    &::after {
      border-color: #888;
    }
  }
}
.ui-checkbox.ui-radio-gray {
  .input-span {
    background-color: #E6E6E6;
    border-color: transparent;
    &::after {
      border-color: #888;
    }
  }
}
.ui-radio.ui-checkbox-gray {
  .input-span {
    background-color: #E6E6E6;
    border-color: transparent;
    &::after {
      border-color: #888;
    }
  }
}
.ui-radio.ui-radio-gray {
  .input-span {
    background-color: #E6E6E6;
    border-color: transparent;
    &::after {
      border-color: #888;
    }
  }
}
.ui-checkbox.disabled {
  opacity: .7;
  cursor: not-allowed;
}
.ui-radio.disabled {
  opacity: .7;
  cursor: not-allowed;
}
.ui-checkbox.check-single {
  padding-left: 18px;
}
.ui-radio.check-single {
  padding-left: 18px;
}
.check-list {
  .ui-checkbox {
    display: block;
    + {
      .ui-checkbox {
        margin-top: 8px;
      }
    }
  }
  .ui-radio {
    display: block;
    + {
      .ui-radio {
        margin-top: 8px;
      }
    }
  }
}
.ui-checkbox-inline {
  display: inline-block;
  margin-right: 15px;
}
.ui-radio-inline {
  display: inline-block;
  margin-right: 15px;
}
.ui-checkbox-primary {
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #3498db;
          border-color: #3498db;
          &::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
.ui-radio-primary {
  .input-span {
    border-color: #3498db;
  }
  &:hover {
    .input-span {
      border-color: #3498db;
    }
  }
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #3498db;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.ui-checkbox-success {
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #2ecc71;
          border-color: #2ecc71;
          &::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
.ui-radio-success {
  .input-span {
    border-color: #2ecc71;
  }
  &:hover {
    .input-span {
      border-color: #2ecc71;
    }
  }
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #2ecc71;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.ui-checkbox-info {
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #23B7E5;
          border-color: #23B7E5;
          &::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
.ui-radio-info {
  .input-span {
    border-color: #23B7E5;
  }
  &:hover {
    .input-span {
      border-color: #23B7E5;
    }
  }
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #23B7E5;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.ui-checkbox-warning {
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #F39C12;
          border-color: #F39C12;
          &::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
.ui-radio-warning {
  .input-span {
    border-color: #F39C12;
  }
  &:hover {
    .input-span {
      border-color: #F39C12;
    }
  }
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #F39C12;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.ui-checkbox-danger {
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #e74c3c;
          border-color: #e74c3c;
          &::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
.ui-radio-danger {
  .input-span {
    border-color: #e74c3c;
  }
  &:hover {
    .input-span {
      border-color: #e74c3c;
    }
  }
  input {
    &:checked {
      ~ {
        .input-span {
          background-color: #e74c3c;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}
.float-right {
  float: right!important;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}

.pull-right {
  float: right;
}

.input-group-addon {
  padding: .5rem .5rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.0;
  color: #71808f;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  cursor: pointer;
}